* text=auto

# Jangan hitung asset / library
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.less linguist-vendored   # semua .less di-ignore

/vendor/* linguist-vendored
/node_modules/* linguist-vendored
/public/storage/* linguist-vendored
/public/assets/* linguist-vendored

# Blade dihitung sebagai Blade
*.blade.php linguist-language=Blade

# Exclude changelog dari export
CHANGELOG.md export-ignore
